
<!-- <mat-tab-group>
    <div class="tabs" style="background-color: tomato" >
    <mat-tab label="Facilities"> Content 1 </mat-tab>
    <mat-tab label="Faculty"> Content 2 </mat-tab>
    <mat-tab label="Departments"> Content 3 </mat-tab>
    <mat-tab label="Event Gallery"> Content 3 </mat-tab>
    <mat-tab label="Councils"> Content 3 </mat-tab>
    <mat-tab label="T & P Cell"> Content 3 </mat-tab>
    <mat-tab label="Research & Publication"> Content 3 </mat-tab>
    <mat-tab label="Mandatory Disclosure"> Content 3 </mat-tab>
</div>
  </mat-tab-group> -->
